.ContainerCart {
  width: 100%;
  background: url("../assets/Bg.jpg");
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  color: #ffc918;
  gap: 1rem;
}
table {
  width: 100%;
}
thead th {
  border-bottom: 1px solid #ffc918;
  text-align: center;
  padding: 1rem;
}

tbody td {
  border-bottom: 1px solid #ffc918;
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.ScoreContainer {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 1rem;
}
.Score {
  border-radius: 1rem;
  border: 1px solid #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.CartBtn{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}
.CartBtn a{
  text-decoration: none;
  color: #ffc918;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, #000c04, #0c220c);
}
.CartBtn a:hover{
  color: #fff;
}
.UpDownContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.UpDown{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Btn{
  background: linear-gradient(180deg, #000c04, #0c220c);
}

@media(max-width:750px){
    .Descrip{
        display: none;
    }
    .ScoreContainer{
      justify-content: center;
    }
}
