.ContainerFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg,#000c04,#0c220c);
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    scale: 1.5;
    opacity: 0;
  }
}

.LogoFooter {
  max-width: 12rem;
  max-height: 12rem;
  transition: scale 0.15s;
  margin: 2rem;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(90deg, #2bff00, #0a550e);
  border: 2px solid #151515;
  z-index: 1;
}
.LogoFooter:hover{
  transition: 1s;
  border: 2px solid #2bff00;
  box-shadow: 0px 0px 15px 7px #2bff00;
}

.LogoFooter > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.LogoFooter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #2bff00, #0a550e);
  border-radius: 50%;
  opacity: 0;
  scale: 0.95;
  pointer-events: none;
  transition: 1s;
}
.LogoFooter:hover::before {
  animation: pulse 1s;
  transition: 1s;
}


.ContainerFooter > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 2rem;
  gap: 3rem;
  margin: 0;
}
.ulFooter a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.ulFooter a:hover{
  color: #fff;
}

.ulFooter a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.ulFooter a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.ContainerFooter > .copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.SocialIcons{
  display: flex;
  font-size: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 4rem;
}
.SocialIcons a{
  color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid #151515  ;
}

.SocialIcons a:hover{
  transition: 1s;
  border: 2px solid #2bff00;
  box-shadow: 0px 0px 15px 7px #2bff00;
  color: #2bff00;
}
.SocialIcons a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #2bff00, #0a550e);
  border-radius: 50%;
  opacity: 0;
  scale: 0.95;
  pointer-events: none;
  transition: 1s;
}

.SocialIcons a:hover::before{
  animation: pulse 1s;
  transition: 1s;
}

.SocialIcons a:hover{
  color: #fff;
}

@media (max-width:750px){
  .copyright{
  flex-direction: column;
  gap: 2rem; 
  }
}