.ContainerLanding {
  min-height: 100vh;
  width: 100%;
  background: url("../assets/Bg.jpg");
  color: #fff;
  padding: 1rem;
}
.ContainerImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  border: 2px solid #fff;
  border-radius: 1rem;
}
.img {
  display: flex;
  align-items: center;
  max-width: 25rem;
  padding: 2rem;
}

.img > img {
  width: 100%;
}
.imgBottom{
    padding: 2rem;
    max-width: 60rem;
}
.imgBottom > img{
    width: 100%;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  max-height: 50rem;
  padding: 2rem;
  gap: 2rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  color: #ffc918;
}
