.ContainerLogin {
  min-height: 100vh;
  width: 100%;
  background: url("../assets/Bg.jpg");
  color: #fff;
  padding: 1rem;
}
.Login {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.imgLoginMobile {
  display: none;
}
.imgLogin {
  max-width: 50rem;
  padding: 1rem;
}

.imgLogin > img {
  width: 100%;
  opacity: 0.8;
}
.CardLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  width: 40rem;
  color: #ffc918;
  gap: 1rem;
}
.CardLogin h2 {
  padding: 1rem;
}

.FormLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}
.InputLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  gap: .5rem;
  width: 100%;
  position: relative;
}

.InputLogin > input {
  width: 100%;
  padding: 1rem;
  background: #151515;
  outline: none;
  border: none;
  border-radius: 1rem;
  color: #fff;
}

.LoginRegister,
.forgotpass {
  padding: 1rem 0;
  text-align: center;
}

.LoginRegister a {
  text-decoration: none;
  color: #ffc918;
}
.LoginRegister a:hover {
  color: #fff;
}
.forgotpass a {
  text-decoration: none;
  color: #ffc918;
}
.forgotpass a:hover {
  color: #fff;
}

.LoginBtn {
  text-decoration: none;
  color: #ffc918;
  padding: 0 1rem;
  margin-top: 1rem;
  position: relative;
}
.LoginBtn:hover {
  color: #fff;
}

.LoginBtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.LoginBtn:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.Eye{
  position: absolute;
  right:10%;
  top: 52%;
}

@media (max-width: 1450px) {
  .imgLoginMobile {
    display: block;
    max-width: 50rem;
  }
  .imgLoginMobile > img {
    width: 100%;
    opacity: 0.9;
  }
  .imgLogin {
    display: none;
  }
}

@media (max-width: 800px) {
.ContainerLogin{
  min-height: 100%;
}
  .CardLogin {
    padding: 2rem 1rem;
  }
  .FormLogin {
    padding: 1rem 0;
  }
  .InputLogin{
    padding: 0 1rem;
    gap: .2rem;
  }
  .LoginRegister,
.forgotpass {
  padding:.5rem 0;
  text-align: center;
}
}
