.ContainerManagment {
  min-height: 100vh;
  width: 100%;
  background: url("../assets/Bg.jpg");
  color: #fff;
  padding: 1rem;
}
.Managment h1{
  text-align: center;
  padding: 1rem;
}
.Input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  padding: 1rem;
}
.Checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Btns{
  text-decoration: none;
  color: #ffc918;
}
.Btns:hover{
  color: #fff;
}

@media (max-width:800px){
  .DescripManagment{
    display: none;
  }
}