.WrapperProducts{
    background: url("../assets/Wallpaper.jpg");
}

.ContainerProducts{
    width: 100%;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}
.TitleProducts{
    text-align: center;
    padding: 2rem;
    color: #fff;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px #151515;
}
.TitleProducts h2{
    margin: 0;
}