@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;500;800&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body{
  background: linear-gradient(180deg,#000c04,#0c220c);
}

.title{
  height: 100svh;
  text-align: center;
  padding: 2rem;
  color: #fff;
}
